{% extends 'profile/base.html.twig' %}

{% block body %}

    <h1>{{ title }}</h1>

    <h5>Fill out my profile</h5>
    <a href="{{ path('profile_create') }}" class="btn btn-outline-primary btn-sm">Create</a>
    <div class="container-fluid">

            <div class="row">
                <div class="col-3">
                    <img src="{{ asset('uploads/image/') }}{{ profile.image }}"
                         style="width: 150px;" alt="">
                </div>
                <div class="col-5 justify-content-right">
                    <h5>{{ profile.name }}</h5>
                    <h5>{{ profile.email }}</h5>
                    <h5>{{ profile.country }}</h5>
                    <h5>{{ profile.language }}</h5>
                </div>
                <div class="col-3">
                    {{ form(form) }}
                    <div class="mt-5">
                        {% include 'profile/User/result.html.twig' %}
                    </div>
                </div>
            </div>

    </div>
{% endblock %}
